<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>SPOD PUBLIC ROOM</name>
    <key>spodpublic</key>
    <description>SPOD Publilc Room</description>
    <author>ISISLAB</author>
    <authorEmail>isislab.unisa@gmail.com</authorEmail>
    <authorUrl>http://www.isislab.it/</authorUrl>
    <developerKey></developerKey>
    <build>2000</build>
    <copyright>ISISLAB All rights reserved.</copyright>
    <license>MIT</license>
    <licenseUrl>https://opensource.org/licenses/MIT</licenseUrl>
</plugin>