<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
       <div class="title">Assistant de l'espace public</div>
       <div class="description">
           L'espace public est un espace o&ugrave; les utilisateurs peuvent &eacute;changer &agrave;
           propos de sujets pr&eacute;c&eacute;demment cr&eacute;&eacute;s dans l'Agora
       </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_general.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">&agrave; propos de l'espace</div>
                    </div>
                    <div>
                        Les espaces sont divis&eacute;s verticalement - sur le cot&eacute; droit vous trouverez une messagerie
                        instantan&eacute;e (disponible pour les utilisateurs de donn&eacute;es ouvertes) - &agrave; droite une zone,
                        cach&eacute;e par d&eacute;fault, d&eacute;volue aux graphiques
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_tchat.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Messagerie instantan&eacute;e</div>
                    </div>
                    <div>
                        <p>
                            La messagerie instantan&eacute;e dispose d'un maximum de trois niveaux. Le nombre de niveaux est limit&eacute;
                            afin d'&eacute;viter de devier du sujet principal et de perturber les &eacute;changes. A chaque nouveau post dans
                            l'espace de discussion, vous pouvez exprimer votre opinion en selectionnant le bouton Opinion:
                        </p>

                        <ul class="cell-list">
                            <li>
                                <div class="layout horizontal">
                                    <p>Neutre (noeud de couleur <b style="color:#1F77B4">bleue</b> sur le graphique)</p>
                                    <paper-fab mini icon="face" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                            <li>
                                <div class="layout horizontal">
                                    <p>D'accord (noeud de couleur <b style="color:#2CA02C">verte</b> sur le graphique)</p>
                                    <paper-fab mini icon="social:mood" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                            <li>
                                <div class="layout horizontal">
                                    <p>En d&eacute;saccord (n&#x0153;ud de couleur <b style="color:#D62728">rouge</b> sur le graphique</p>
                                    <paper-fab mini icon="social:mood-bad" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_graph.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Graphique</div>
                    </div>
                    <div>
                        il y a quatre graphiques:<br>
                        <ul class="cell-list">
                            <li>
                                <b>Commentaires des graphiques</b>: il s'agit d'un arbre de commentaires, o&ugrave; chaque n&#x0153;ud
                                repr&eacute;sente un commentaire et les liens entre ces commentaires. La dimension du n&#x0153;ud
                                est directement proportionnelle au nombre de commentaires enracin&eacute;s dans les n&#x0153;uds.
                                Plus larges sont les noeuds, plus de commentaires sont pr&eacute;sent&eacute;s sous la discussion.
                                La couleur des noeuds peut &ecirc;tre verte, rouge ou bleue, cela d&eacute;pend de l'opinion. Si
                                vous passez la souris sur un noeud (pas de clique) vous pouvez lire le commentaire du noeud et si
                                vous cliquez, l'espace de discussion sur la gauche sera d&eacute;plac&eacute; et les commentaires
                                correspondants seront mis en &eacute;vidence.
                            </li>
                            <li>
                                <b>Graphique datalet</b> : graphique des datalets. Dans ce graphique chaque n&#x0153;ud repr&eacute;sente
                                un datalet ainsi que les jeux de donn&eacute;es proches de ce datalet (mais s'appuyant possiblement
                                sur une visualisation diff&eacute;rente). La dimension d'un n&#x0153;ud est directement proportionnelle
                                au nombre de commentaires, enracin&eacute;s dans le noeud. Plus larges sont les noeuds, plus de commentaires
                                sont pr&eacute;sent&eacute;s sous la discussion.Si vous passez la souris sur un noeud (pas de clique) vous
                                pouvez lire le commentaire du noeud et si vous cliquez, l'espace de discussion sur la gauche sera d&eacute;plac&eacute;
                                et les commentaires correspondants seront mis en &eacute;vidence.
                            </li>
                            <li>
                                <b>Graphique utilisateur</b>: graphique des utilisateurs. Dans ce graphique chaque n&#x0153;ud repr&eacute;sente un
                                utilisateur qui participe &agrave; la discussion. Il tient &eacute;galement compte des utilisateurs li&eacute;s
                                (une r&eacute;ponse &agrave; un commentaire). Le lien est directement proportionnel au nombre d'interactions.
                                Si vous passez la souris sur un noeud (pas de clique) vous pouvez lire les premiers commentaires des utilisateurs.
                            </li>
                            <li>
                                <b>Graphique d'opinion</b> : commentaires li&eacute;s au graphique int&eacute;grant tous les commentaires favorables (verts) -
                                mis en &eacute;vidence et regroup&eacute;s. Les commentaires qui semblent partager une position similaire sont mis en emphase.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_graphinter.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Les graphiques sont interactifs</div>
                    </div>
                    <div>
                        N'importe quel graphique est interactif: vous pouvez ajuster les n&#x0153;uds comme vous le souhaitez,
                        en cliquant et en d&eacute;pla&ccedil;ant les n&#x0153;uds. Chaque graphique est informatif: en passant
                        la souris sur le n&#x0153;ud,  les informations relatives sont pr&eacute;sent&eacute;es en haut &agrave; droite.
                        N'importe quel graphique est synchronis&eacute;: en cliquant sur un noeud sur le graphique, vous pouvez voir, &agrave;
                        gauche, les commentaires correspondants &agrave; l'espace de discussion
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_odpost.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">5</div>
                        <div class="section-title">Echange de datalets</div>
                    </div>
                    <div>
                        Vous pouvez utiliser le bouton datalet pour cr&eacute;er et poster de nouvelles visualisations de jeux de donn&eacute;es
                        &agrave; n'importe quel niveau de l'espace de discussion. Durant cette &eacute;tape, vous pouvez facilement s&eacute;l&eacute;
                        ctionner l'un des jeux de donn&eacute;es sugger&eacute;s (par le cr&eacute;ateur) ou en ajouter un nouveau
                    </div>
                </div>
            </div>
        </div>

    </div>

 </div>
