<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
       <div class="title">Public room helper</div>
       <div class="description">La Stanza Pubblica &egrave (il luogo) dove gli utenti possono discutere dei topic precedentemente creati nell'Agora
       </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_general.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Informazioni sulla stanza</div>
                    </div>
                    <div>
                        Le stanze sono divise verticalmente, sul lato sinistro compare la chat annidata (abilitata all'uso degli open data),
                        mentre sul lato destro troviamo una sezione, nascosta per impostazione predefinita, dedicata ai Grafi.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_tchat.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Chat annidata</div>
                    </div>
                    <div>
                        <p>
                            La chat ha un massimo di tre livelli nidificati tra di loro. Il numero dei livelli nidificati &egrave limitato per evitare che la discussione si allontani
                            troppo dal topic principale e diventi poco leggibile. Ogni volta che un post viene aggiunto alla chat, &egrave possibile esprimere la propria opinione
                            selezionando il "Bottone dell'opinione"

                        </p>

                        <ul class="cell-list">
                            <li>
                                <div class="layout horizontal">
                                    <p>Neutrale (<b style="color:#1F77B4">Blu</b> nel nodo del grafo)</p>
                                    <paper-fab mini icon="thumbs-up-down" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                            <li>
                                <div class="layout horizontal">
                                    <p>D'accordo(<b style="color:#2CA02C">Verde</b> nel nodo del grafo)</p>
                                    <paper-fab mini icon="thumb-up" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                            <li>
                                <div class="layout horizontal">
                                    <p>Disaccordo (<b style="color:#D62728">Rosso</b> nel nodo del grafo)</p>
                                    <paper-fab mini icon="thumb-down" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_graph.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Grafi</div>
                    </div>
                    <div>
                        Ci sono quattro tipi di grafo:<br>
                        <ul class="cell-list">
                            <li>
                                <b>Grafo dei comment</b>: &egrave l'albero dei commenti, nel quale ogni nodo rappresenta un commento e,
                                l'arco la relazione padre-figlio. La dimensione del nodo &egrave direttamente proporzionale al numero
                                dei commenti nidificati tra di loro, radicati nel nodo. Pi&uacute grande &egrave il nodo, pi&uacute commenti sono presenti nella discussione.
                                Il colore pu&ograve essere verde, rosso o blu a secondo delle opinioni espresse. Se il mouse viene portato su un nodo (senza cliccare),
                                &egrave possibile leggere il commento presente e, una volta cliccato, la chat sulla sinistra si muove ed evidenzia il commento corrispondente.
                            </li>
                            <li>
                                <b>Grafo delle datalet</b>: &egrave; il grafo delle datalet, in cui ogni nodo rappresenta una datalet e,
                                l&#x2019;arco unisce le datalet che usano lo stesso dataset (ma con una visualizzazione diversa).
                                La dimensione del nodo &egrave; direttamente proporzionale al numero dei commenti nidificati tra di loro.
                                Pi&ugrave; grande &egrave; il nodo, pi&ugrave; commenti sono presenti nella discussione. Se il mouse viene portato su un nodo
                                (senza cliccare), &egrave; possibile leggere il commento presente e, una volta cliccato, la chat sulla sinistra si muove ed evidenzia
                                il commento corrispondente.
                            </li>
                            <li>
                                <b>Grafo degli utenti</b>:  &egrave; il grafo degli utenti, in cui ogni nodo rappresenta un utente che sta partecipando alla discussione
                                e un arco unisce gli utenti che interagiscono tra di loro (un utente che risponde al commento di un altro utente). Lo spessore dell&#x2019;arco
                                &egrave; direttamente proporzionale al numero delle interazioni. Se il mouse viene portato su un nodo (senza cliccare), &egrave;
                                possibile leggere il primo commento dell&#x2019;utente.
                            </li>
                            <li>
                                <b>Grafo delle opinioni</b>: &egrave; il grafo dei commenti in cui sono enfatizzati e raggruppati tutti i commenti &#x2026;&#x2026;. In questo modo,
                                tutti i commenti che condividono la stessa opinione, vengono evidenziati.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_graphinter.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Grafi interattivi</div>
                    </div>
                    <div>
                        Ogni grafo &egrave; interattivo: &egrave; possibile sistemare i nodi nel modo in cui si preferisce, semplicemente cliccando e
                        trascinando il nodo. Ogni grafo &egrave; informativo: passando il mouse sul nodo, le informazioni relative vengono mostrate in
                        alto a destra. Ogni grafo &egrave; sincronizzato: cliccando sul nodo, &egrave; possibile vedere sulla sinistra il contenuto corrispondente
                        della chat annidata.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_odpost.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">5</div>
                        <div class="section-title">Condivisione di datalet</div>
                    </div>
                    <div>
                        Utilizzando il bottone &#x201c;Datalet&#x201d;, &egrave; possibile creare e postare una nuova visualizzazione del dataset
                        ad ogni livello della chat annidata. Durante questa fase, &egrave; anche possibile selezionare facilmente uno dei dataset
                        suggeriti (dal creatore) o aggiungerne un nuovo.
                    </div>
                </div>
            </div>
        </div>

    </div>

 </div>
