<style>
    #scroll_content{
        position: relative;
        overflow: auto;
    }
    div.cell{
        padding: 20px;
        margin: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }
</style>

<h2>Agora helper</h2>
<p>Agora is where each user can create a “Public room” to start a new
    discussion/debate that is open to all the users. (In this version,
    once a room is created, it cannot be removed.)  Each room is
    represented by a "tile" that has three characteristics (colour, height
    and width) that are related to the discussion in it (more details
    below).

</p>
<div id="scroll_content">
    <div class="horizontal layout cell">

        <img src="{$staticResourcesUrl}images/agora_creation.gif" style="width: 60%; height: 60%;">

        <div class="vetical layout cell">
            <p>
                To <b>create a new room</b>, just press the big "+" (Add) button on the
                bottom right, and insert the subject and a brief description of the
                room.
            </p>
        </div>
    </div>

    <div class="horizontal layout cell">

        <img src="{$staticResourcesUrl}images/agora_suggested_datasets.gif" style="width: 60%; height: 60%;">

        <div class="vetical layout cell">
            <p>
                The user that created a Public Room can also add a set of recommended
                datasets, that are easily accessible by the participants in that
                Public Room (via the Controllet). To add recommended datasets, click
                on the list to the left (to show "My Public Rooms") and select the
                room).
            </p>
        </div>
    </div>

    <div class="horizontal layout cell">

        <img src="{$staticResourcesUrl}images/agora2.png" style="width: 60%; height: 60%;">

        <div class="vetical layout cell">
            <p>
                The tile of each Public Room shows a synthetic visualisation of its
                discussion by using colour, height and width as visual metaphors.

                <ul class="cell-list">
                  <li>
                      The <b>colour</b> of the tile goes from blue (only few visits by users, i.e.
                      a "cold" topic) to red (many visits by users, i.e. a "hot" topic). The
                      colour is picked from a blue-to-red gradient proportionally to the
                      number of visits.
                  </li>
                  <li>
                      The <b>width</b> of a tile also can have only two values, i.e. narrow
                      (strict) or wide (large)  depending on the number of distinct datalets
                      that are used.
                  </li>
                  <li>
                      To set the <b>height</b>, the median of the number of comments for all the
                      rooms is calculated, and the rooms about the median are "tall" and
                      those below are "short". The same happes for the width with respect to
                      the number of distinct datalets.
                  </li>
                </ul>
            </p>
            <p>
                To set the height, the median of the number of comments for all the
                rooms is calculated, and the rooms about the median are "tall" and
                those below are "short". The same happes for the width with respect to
                the number of distinct datalets.
            </p>
        </div>
    </div>
</div>

