<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">Agora helper</div>
        <div class="description">
            Agora is de plek waar iedere gebruiker een "Publieke ruimte" kan starten om nieuwe discussie die open is voor alle gebruikers.
            (In deze versie, indien er eenmaal een ruimte is gecre&euml;erd, kan deze niet worden verwijderd). Iedere ruimte wordt afgebeeld als
            een 'tegel' met drie kenmerken (kleur, hoogte en breedte) die relateren aan de discussie in de ruimte (meer details hieronder).
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/agora_creation.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Room creëren</div>
                    </div>
                    <div>
                        Om een nieuwe ruimte te creëren, druk op het grote "+" (Toevoegen) pictogram rechtsboven en voeg een onderwerp en een korte beschrijving van de ruimte toe.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/agora_suggested_datasets.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Voeg aanbevolen datasets toe aan de ruimte</div>
                    </div>
                    <div>
                        De gebruiker die de Public Room cre&euml;rde kan ook een aantal aanbevolen datasets toevoegen, die toegankelijk zijn voor de deelnemers
                        aan die Public Room (via de Controllet). Om aanbevolen datasets toe te voegen, klik op de lijst links (om "My Public Rooms" te tonen)
                        en selecteer de ruimte.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/agora2.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Over ruimtes</div>
                    </div>
                    <div>
                        <p>
                            De tegel van iedere Public Room toont een visualisering van de discussie met behulp van de kleur, hoogte en breedte als een visuele metafoor.

                            <ul class="cell-list">
                                <li>
                                    De <b>kleur</b> van de tegel verloopt van blauw (slechts enkele bezoeken van gebruikers, oftewel een "cold" topic) naar rood (veel bezoeken van
                                    gebruikers, oftewel een "hot" topic). De kleur is gekozen uit een blauw naar rood spectrum, proportioneel aan het aantal bezoeken.
                                </li>
                                <li>
                                    De <b>breedte</b> van een tegel kan eveneens enkel twee waarden hebben, namelijk smal (klein) of wijd (groot) afhankelijk van het aantal verschillende
                                    datalets dat wordt gebruikt.
                                </li>
                                <li>
                                    Om de <b>hoogte</b> van de tegel te bepalen, wordt de mediaan van het aantal reacties van alle rooms berekend en de rooms rond de mediaan zijn "groot" en die
                                    daaronder zijn "klein". Hetzelfde gebeurt voor de wijdte in relatie tot het aantal verschillende datasets.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
