<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
       <div class="title">Publieke ruimte helper</div>
       <div class="description">
           Een publieke ruimte is een plaats waar gebruikers kunnen discussieren over een aangemaakt onderwerp in Agora
       </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_general.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Over de kamer</div>
                    </div>
                    <div>
                        De kamer bestaat uit twee delen. Aan de linkerkant is ruimte voor een lineaire discussie, waarbij open data gebruikt kan worden.
                        Aan de rechterkant is een ruimte met grafieken over de discussie. Deze ruimte is standaard verborden.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_tchat.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Lineaire discussie</div>
                    </div>
                    <div>
                        <p>
                            De lineaire discussie heeft een maximum van drie niveaus.

                            The number of nested levels is limited to avoid straying too far from the main topic and make less readable the conversation.
                            Every time you add a new post in the chat, you can express you opinion by selecting from the Opinion Button :
                        </p>

                        <ul class="cell-list">
                            <li>
                                <div class="layout horizontal">
                                    <p>Neutraal(<b style="color:#1F77B4">Blue</b> color node in the graph)</p>
                                    <paper-fab mini icon="thumbs-up-down" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                            <li>
                                <div class="layout horizontal">
                                    <p>Mee eens(<b style="color:#2CA02C">Green</b> color node in the graph)</p>
                                    <paper-fab mini icon="thumb-up" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                            <li>
                                <div class="layout horizontal">
                                    <p>Niet mee eens(<b style="color:#D62728">Red</b> color node in the graph)</p>
                                    <paper-fab mini icon="thumb-down" aria-disabled="false" elevation="1" class="opinion-button" style="position: relative;float:left;bottom: 15px;"></paper-fab>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_graph.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Grafieken</div>
                    </div>
                    <div>
                        Er zijn vier grafieken:<br>
                        <ul class="cell-list">
                            <li>
                                <b>Berichten grafiek</b>:  boomgrafiek van de berichten, waarbij ieder grafiekpunt een bericht representeerd en de lijn
                                de 'ouder-kind relatie' aangeeft, net als in een stamboom. De dimensie van een grafiekpunt is gekoppeld aan het aantal
                                bijbehorende berichten, opgenomen in het grafiekpunt. Hoe groter het grafiekpunt, hoe meer opmerkingen er onderdeel zijn
                                van de bijbehorende discussie. De kleur van de opmerking kan groen, rood of blauw zijn, afhankelijk van de mening.
                                Als je de muis op een grafiekpunt zet (geen muisklik) dan kun je de opmerking van het grafiekpunt lezen en als je erop
                                klikt dan verschuift de chat links en markeert deze het corresponderende bericht.
                            </li>
                            <li>
                                <b>Datalet grafiek</b>: grafiek van datalets, waarbij ieder grafiekpunt een dalalet representeerd en een lijn datalets verbindt
                                die dezelfde datasets gebruiken (maar mogelijk met een andere visualisering). De dimensie van een grafiekpunt is gekoppeld aan
                                het aantal bijbehorende berichten, opgenomen in het grafiekpunt. Hoe groter het grafiekpunt, hoe meer opmerkingen er onderdeel
                                zijn van de bijbehorende discussie. Als je de muis op een grafiekpunt zet (geen muisklik) dan kun je de opmerking in het grafiekpunt
                                lezen en als je erop klikt dan verschuift de chat links en markeert deze het corresponderende bericht.
                            </li>
                            <li>
                                <b>Gebruikers grafiek</b>: grafiek over gebruikers, waarbij ieder grafiekpunt een gebruiker representeerd die deelneemt aan de discussie
                                en een lijn aangeeft met welke gebruikers deze in contact staat (de een reageert op een opmerking van de ander). De dikte van de lijn is
                                gekoppeld aan het aantal interacties. Als je de muis op een grafiekpunt zet (geen muisklik) dan kun je het eerste bericht van die gebruiker lezen.
                            </li>
                            <li>
                                <b>Opinie grafiek</b>: opiniegrafieken benadrukt en groepeert alle groene stemmen en opmerkingen (eens), alle opmerkingen die een gedeelde
                                opvatting lijken te delen worden geaccentueerd.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_graphinter.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Grafieken zijn interactief</div>
                    </div>
                    <div>
                        Iedere grafiek is interactief: je kunt de grafiekpunten aanpassen zoals jij wil, door op grafiekpunten te
                        klikken of deze te slepen. Iedere grafiek is informatief: als de muis op een grafiekpunt staat, wordt gerelateerde
                        informatie rechtsboven weergegeven. Iedere grafiek wordt gesynchroniseerd: door op een grafiekpunt te klikken kun
                        je links de bijbehorende chat zien.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/public_room_odpost.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">5</div>
                        <div class="section-title">Datalet delen</div>
                    </div>
                    <div>
                        Je kunt het Datalet pictogram gebruiken om een nieuwe visualisering te maken en plaatsen van datasets op ieder niveau van de chat.
                        Tijdens deze stap, kun je eenvoudig een van de aanbevolen datasets selecteren (van de maker) of een nieuwe toevoegen.
                    </div>
                </div>
            </div>
        </div>

    </div>

 </div>
