<div class="cocoreation_create_room_container">

    <div class="cocoreation_create_room_header">
        CREATE A NEW ROOM
    </div>

    <div class="cocoreation_create_room_left_menu">
        <ul>
            <li class="step-1 cocoreation_create_room_left_menu_selected">SUBJECT</li>
            <li class="step-2">BODY</li>
        </ul>
    </div>

    {form name='PublicRoomCreatorForm'}
    <div class="cocoreation_create_room_content">

        <!-- ROOM SUBJECT -->
        <div class="step in-step-1 in-step-show">
            <div class="title">
                <span>{text key="spodpublic+new_room_subject"}</span>
            </div>
            <div class="input">
                {input name='subject'}
            </div>
        </div>

        <!-- ROOM BODY -->
        <div class="step in-step-2">
            <div class="title">
                <span>{text key="spodpublic+new_room_body"}</span>
            </div>
            <div class="input">
                {input name='body'}
            </div>
            <div class="submit_container">
                {submit name='submit' class='ow_ic_new'}
            </div>
        </div>

    </div>
    {/form}

</div>