<link rel="import" href="{$components_url}bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-material/paper-material.html">
<link rel="import" href="{$components_url}bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="{$components_url}bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/iron-icons.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="{$components_url}datalets/graph-datalet/graph-datalet.html">
<link rel="import" href="{$components_url}datalets/graph-datalet/graph-with-clustering-datalet.html">
<link rel="import" href="{$components_url}bower_components/paper-fab-transitions/paper-fab-speed-dial.html">

<base target="_parent" />

<style is="custom-style">

    paper-toolbar.toolbar-main
    {
        --paper-toolbar-background:#2196F3;
        -moz-box-shadow: 0 0 20px 5px #999;
        -webkit-box-shadow: 0 0 20px 5px #999;
        z-index : 100;
        height: 40px;
    }
    paper-toolbar.title-header{
        --paper-toolbar-background:#2196F3;
        -moz-box-shadow: 0 0 20px 5px #999;
        -webkit-box-shadow: 0 0 20px 5px #999;
        margin-bottom: 10px;
        height: 30px;
    }
    paper-fab{
        --paper-fab-background:#2196F3;
    }
    paper-fab.show_datalet{
        --iron-icon-height: 18px;
        --iron-icon-width:  18px;
        height: 22px;
        width:  22px;
    }

    paper-fab-speed-dial{

    }

    paper-fab.sentiment-button
    {
        float: left;
        --paper-fab-background:#5B646A;
        --iron-icon-height: 15px;
        --iron-icon-width:  15px;
        height: 20px;
        width:  20px;
        left: 5px;
    }

    paper-header-panel{
        /*height: 8vh;;*/
    }

    .title h4{
        color: #ffffff;
    }

    ::content paper-toolbar div#topBar {
        height: 35px;
    }

    #graph_container{
        margin-top: 3px;
        width: 48.8%;
        display: none;

    }

    #graph_content{
        position: relative;
        overflow: auto;
        height: 90vh;
    }

    #topic_container{
        position: relative;
        overflow: auto;
        height: 93vh;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    #pr_body{
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        color: #6c6c6c;
        font-weight: bolder;
        font-size: 20px;
        margin: 30px;
        padding-right: 10px;
        padding-left: 10px;
        font-style: italic;
        margin-top: 25px;
    }

    .q-comments{
        padding-left: 4.5%;
        width: 90%;
        font-size: 14px;
    }

    #graphs_buttons_panel{
        display: none;
    }

    #toolbar-graph-title{
        color: #ffffff;
        margin-left: 30px;
    }

    paper-dialog {
        padding : 10px;
        border: 2px solid;
        border-color: #2196F3;
        /*background-color: var(--paper-light-green-50);*/
        height: 80%;
        overflow: scroll;
    }

    .public_room_comment_container
    {
        background-color: #efefef;
    }

    .datalet_placeholder
    {
        display: none;
    }

</style>

{style}
#button_container { display: none; }

body .floatbox_canvas .floatbox_container{ margin-top:10px; }
{/style}

{literal}
<script type="text/javascript">
    $(document).ready(function(){

        $(".show_datalet").live("click", function(e){

            var datalet_placeholder = $(e.currentTarget).parents().eq(3).find(".datalet_placeholder");

            datalet_placeholder.toggle('fade',
                {direction: 'top'},
                function(){
                    if(datalet_placeholder.css('display') == 'none')
                        $(e.currentTarget).css('background', '#2196F3');
                    else
                        $(e.currentTarget).css('background', '#5B646A');

                //resize the datalet when is opened
                var datalet = $(datalet_placeholder.children()[1])[0];
                if(datalet.refresh != undefined)
                    datalet.refresh();
                else
                    datalet.behavior.presentData();
            },
            500);

            //$("#topic_container").scrollTop(datalet_placeholder.parents().eq(2));
        });

    });
</script>
{/literal}

<paper-header-panel>
    <paper-toolbar class="toolbar-main">
        <!--<paper-icon-button id="helper" paper-drawer-toggle icon="help-outline" onClick="ODE.showHelper()"></paper-icon-button>-->
        <div class="title"><h4>{$public_room->subject}</h4></div>
        <div id="graphs_buttons_panel">
            <paper-icon-button id="comment_graph" paper-drawer-toggle icon="speaker-notes" onClick="commentGraphShow()"></paper-icon-button>
            <paper-tooltip for="comment_graph">{text key="spodpublic+comments_graph"}</paper-tooltip>
            <paper-icon-button id="datalet_graph" paper-drawer-toggle icon="assessment" onClick="dataletGraphShow()"></paper-icon-button>
            <paper-tooltip for="datalet_graph">{text key="spodpublic+datalets_graph"}</paper-tooltip>
            <paper-icon-button id="user_graph" paper-drawer-toggle icon="account-circle" onClick="usersGraphShow()"></paper-icon-button>
            <paper-tooltip for="user_graph">{text key="spodpublic+users_graph"}</paper-tooltip>
            <paper-icon-button id="opinion_graph" paper-drawer-toggle icon="thumbs-up-down" onClick="opinionsGraphShow()"></paper-icon-button>
            <paper-tooltip for="opinion_graph">{text key="spodpublic+opinions_graph"}</paper-tooltip>
        </div>
        <h5 id="toolbar-graph-title">{text key="spodpublic+graph_panel"}</h5>
        <paper-icon-button id="slide_graph_button" paper-drawer-toggle icon="picture-in-picture" onClick="slideGraphPanel()"></paper-icon-button>
        <paper-tooltip for="slide_graph_button">{text key="spodpublic+open_graph_panel"}</paper-tooltip>
    </paper-toolbar>
</paper-header-panel>

<div class="layout horizontal public_room_comment_container">
    <paper-material id="topic_container" class="layout justified">
        <paper-material elevation="0" id="pr_body">
            {$public_room->body}
        </paper-material>
        {if !empty($comments)}
        <div class="q-comments">
            {$comments}
        </div>
        {/if}
    </paper-material>

    <paper-material elevation="1" animated id="graph_container">
        <div id="graph_content">
        </div>
    </paper-material>
</div>

<!-- ODE PRIVATE-ROOM -->
<div>
    {if isset($private_room)}
    {$private_room}
    {/if}
</div>
<!-- ODE PRIVATE-ROOM -->