<link rel="import" href="{$components_url}bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-material/paper-material.html">
<link rel="import" href="{$components_url}bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/iron-icons.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<!--<div id="topic_title">
   <h1 class="ow_stdmargin ow_ic_script">Sbiricudaaaa topic | Forum </h1>
</div>-->
<style is="custom-style">

    paper-toolbar.toolbar-main
    {
        --paper-toolbar-background:#2196F3;
        -moz-box-shadow: 0 0 20px 5px #999;
        -webkit-box-shadow: 0 0 20px 5px #999;
    }
    paper-fab{
        --paper-fab-background:#2196F3;
    }
    paper-header-panel{
        height: 10vh;;
    }

    .title h2{
        color: #ffffff;
    }

    #graph_container{
        width: 48%;
        display: none;
    }

    #topic_container{
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        height: 90vh;
        width: 100%;
    }


</style>
{literal}
<script>

    var last_selected_element = null;
    window.addEventListener('graph-datalet_node-clicked', function(e){
        //alert(e.detail.node.id);
        if(last_selected_element != null){
            last_selected_element.css('box-shadow', 'none');
            last_selected_element.css('font-weight', 'normal');
        }

        if(e.detail.node.id == 0) return;

        var id = SPODPUBLICROOM.original_nodes_ids[e.detail.node.id];

        var curr_element = $("#comment_" + id);
        $(curr_element).css('box-shadow', ' 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)');
        $(curr_element).css('font-weight', 'bold');

        $('div[id^="nc_"]').css('display', 'none');
        $(curr_element).parents('div[id^="nc_"]').css('display', 'block');

        $("#topic_container").scrollTop($(curr_element).offset().top);

        last_selected_element = curr_element;
    });

    $(document).ready(function () {
        //$('#topic_container').perfectScrollbar();
    });

    slideGraphPanel = function(){
        $('#graph_container').toggle('slide', {direction: 'right'}, 300, function(){
            $('#topic_container').css('width' , ($('#graph_container').css('display') == 'none') ? '100%' : '50%');
        });
    }
</script>
{/literal}

<paper-header-panel>
    <paper-toolbar class="toolbar-main">
        <div class="title"><h2>Sbiricudaaaa | Topic </h2></div>
        <paper-icon-button paper-drawer-toggle icon="language" onClick="slideGraphPanel()"></paper-icon-button>
    </paper-toolbar>
</paper-header-panel>

<div class="layout horizontal">

        <paper-material id="topic_container" class="layout vertical justified">
            <div>
                <link rel="import" href="{$components_url}datalets/leafletjs-datalet/leafletjs-datalet.html">
                <leafletjs-datalet data-url="http://ckan.routetopa.eu/api/action/datastore_search?resource_id=73e02092-85a1-434e-85fe-0c9a43aa9a52"
                                   fields='["result,records,Lat","result,records,Lng","result,records,Link"]'>
                </leafletjs-datalet>
            </div>
            {if !empty($comments)}
            <div class="q-comments" style="padding-left: 60px;">
                {$comments}
            </div>
            {/if}
        </paper-material>

        <paper-material elevation="3" animated id="graph_container">
            <link rel="import" href="{$components_url}datalets/graph-datalet/graph-datalet.html">
            <graph-datalet data='{$graphData}'></graph-datalet>
        </paper-material>

</div>